# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
.next/
out/
build/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
*.tsbuildinfo
.vercel
